<%- include("partials/header"); -%>
    <div class="container" style="margin-top: 10%;margin-bottom: 10%;"><h1>About Me</h1>
    <p class="mt-4">Hello, my name is Haseeb Ullah Tarakai and I am a software engineering student currently pursuing my Bachelor's degree. I am passionate about web development, and have experience working with a variety of technologies, including HTML, CSS, JavaScript, Python, Node.js, and Mongoose.
        <br>
        I am proficient in both front-end and back-end development, and I enjoy the challenge of creating dynamic, responsive, and user-friendly websites. I am also committed to writing clean, maintainable code that adheres to best practices and industry standards.
        <br>
        I have completed several web development projects, including Schools Websites and personal portfolios, and I am always looking for new opportunities to grow and expand my skillset. I am excited about the future of web development and the potential it holds to create innovative solutions that solve real-world problems.
        <br>
        In my free time, I enjoy being in the company of friends,and watching cricket, which help me to recharge and stay focused. I am dedicated to my work, but I also believe in maintaining a healthy work-life balance.
        <br>
        If you're looking for a passionate and dedicated web developer with experience in both front-end and back-end development, I would love to hear from you. Thank you for taking the time to read about me! </p>
</div>
<%- include("partials/footer"); -%>
