<%- include("partials/header"); -%>
    <div class="container" style="margin-top: 10%;margin-bottom: 10%;"><h1>About</h1>
    <p class="mt-4"> <%= aboutContent %> </p>
</div>
<%- include("partials/footer"); -%>
