<%- include("partials/header"); -%>

<div class="container" style="margin-top: 10%;margin-bottom: 10%;">
    <h1 class="mb-5 " style="text-align: center;" >Contact Me</h1>
    <div class="contact-container">
        <form class="contact-form" action="/" method="post">
          <label class="contact-label" for="name">Name:</label>
          <input class="contact-input" type="text" id="name" name="name" required>
          <label class="contact-label" for="email">Email:</label>
          <input class="contact-input" type="email" id="email" name="email" required>
          <label class="contact-label" for="message">Message:</label>
          <textarea class="contact-input" id="message" name="message" rows="5" required></textarea>
          <button class="contact-button" type="submit">Send</button>
        </form>
      </div>
</div>
<%- include("partials/footer"); -%>
