<%- include("partials/header"); -%>

<div class="container" style="margin-top: 10%;margin-bottom: 10%;">
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
</div>
<%- include("partials/footer"); -%>
